*{
    margin: 0px;
    padding: 0px;
}

.font-family-poppins{
    font-family: 'Poppins';
}

.bg-primary1 {
    background-color: #598bd5 !important;
}

.font-sizeh1{
    font-size: 50px !important;
}